:scss
  #baidumap{
    width:100%;height:400px;
  }

= form.hidden_field(:lonlat, value: field.value || field.default_lonlat, id: field.dom_name)

%button.btn.btn-success{:type => "button", "data-toggle" => "modal", "data-target" => "#baidumap_modal"} 在地图上标注

#baidumap_modal.modal.fade.bs-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title 地图
      .modal-body.form-inline
        .row
          .col-md-6
            %div#baidumap
          .col-md-6
            %input#search-input.form-control{:placeholder => "请输入详细地址"}
            %button#search.btn.btn-primary 搜索
            %div#baidumap_result
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 关闭
        %button.btn#baidumap_comfirm.btn-primary{:type => "button"} 确定

:coffeescript
  window.map = 
    show_point: (point) ->
      @map.clearOverlays()
      marker = new (BMap.Marker)(point)
      @map.addOverlay marker
      marker.setAnimation BMAP_ANIMATION_BOUNCE
      @POINT = point

    load_map: () ->
      jQuery(document).off('rails_admin.dom_ready', @.load_map)

      script = document.createElement("script")
      script.type = "text/javascript"
      script.src = "http://api.map.baidu.com/api?v=2.0&ak=#{field.api_key}&callback=map.init"
      document.body.appendChild(script)

    init: () ->
      @map = new BMap.Map("baidumap")
      real_point = new BMap.Point("#{field.value.try :x}", "#{field.value.try :y}")
      default_point = new BMap.Point("#{field.default_longitude}", "#{field.default_latitude}")
      if isNaN(real_point.lat) or isNaN(real_point.lng)
        point = default_point
      else
        point = real_point

      @show_point(point)
      @map.centerAndZoom(point, 14)
      @map.enableScrollWheelZoom();
      @local = new BMap.LocalSearch(@map,renderOptions:{map: @map,  panel:"baidumap_result"})

      @POINT = null

      jQuery('#baidumap_comfirm').on 'click', (e)=>
        e.preventDefault()
        if @POINT
          jQuery("##{field.dom_name}").val("POINT(\#{@POINT.lng} \#{@POINT.lat})")
          jQuery('#baidumap_modal').modal('hide')
        else
          alert '请在地图中标注坐标点!'
      
      jQuery('#baidumap_modal').on 'shown.bs.modal', ()=>
        @map.panTo point


      jQuery('#search').on 'click', (e)=>
        e.preventDefault()
        @local.search $('#search-input').val()
      

      @map.addEventListener 'click', (e)=>
        @show_point(e.point)
      
      # when the init function fininshed, chrome will throw `Uncaught TypeError: Cannot read property 'rv' of undefined`, hope someone can fix that.
      

  jQuery(document).on 'rails_admin.dom_ready', window.map.load_map